# Windows PowerShell examples:
# $env:SMS_DB_SERVER="127.0.0.1"
# $env:SMS_DB_PORT="3306"
# $env:SMS_DB_NAME="student_management"
# $env:SMS_DB_USER="root"
# $env:SMS_DB_PASSWORD="your_password"

SMS_DB_SERVER=127.0.0.1
SMS_DB_PORT=3306
SMS_DB_NAME=student_management
SMS_DB_USER=root
SMS_DB_PASSWORD=your_password
